input[type=submit]{
  padding: 5px 40px;
  margin: 8px 40px;
  box-sizing: border-box;
  font-size: 15px;
}

input[type=textx]{
	padding: 0px 30px;
	text-align: center;
  	font-size: 15px;
}

form,h1{
	text-align: center;
	padding: 0px 30px;
}

label{
	font-size: 20px;
	display:block; width:x; height:y; text-align:center;
}
